body {
  background-color: #181D31;
  font-family: 'Roboto Slab';
  margin: 0;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #181D31;
  font-family: 'Architects Daughter';
  font-size: 4.4em;
  line-height: 60%;
  margin-top: 30px;
  margin-bottom: 0px;
}

h2 {
  color: #678983;
  font-weight: normal;
}

h3 {
  color: #678983;
  font-weight: normal;
}

p {
  color: #F0E9D2;
}

a {
  color: #E6DDC4;
}



.top {
  padding-left: 5px;
  padding-top: 100px;
  background-color: #678983;
}

.middle {

}

.bottom {

}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  margin-left: 400px;
}

.skill-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
